# Financial App

In [7]:
import os
import pandas as pd

# Get the current working directory
os.chdir("c:/Users/juanm_8qa8lav/Documents/Proyectos_Personales/FinancialApp")
# Verify the current working directory
print(f"Now in directory: {os.getcwd()}")

# Import your module
from app.modules.database.connection import engine
import app.modules.database.credit_manager as credit_manager
import app.modules.database.portfolio_manager as portfolio_manager
import app.modules.database.customers as customers

from importlib import reload

%run logs/run_log.py

Now in directory: c:\Users\juanm_8qa8lav\Documents\Proyectos_Personales\FinancialApp
Nuevo plan de negocio creado, su id es 1 y fue asociado a la empresa NeoCrediT S.A.
Nuevo plan de negocio creado, su id es 2 y fue asociado a la empresa Onoyen S.R.L.
Nuevo plan de negocio creado, su id es 3 y fue asociado a la empresa Asociación Mutual Union Federal
Nuevo plan de negocio creado, su id es 4 y fue asociado a la empresa Asociación Mutual Union Federal
Empty DataFrame
Columns: [CUIL, DNI, Last_Name, Name, Gender, Date_Birth, Age_at_Discharge, ID_Province, Locality, Street, Nro, CP, Feature, Telephone, Seniority, Salary, CBU, Collection_Entity, Employer, Dependence, CUIT_Employer, ID_Empl_Prov, Empl_Loc, Empl_Adress, Last_Update]
Index: []

[0 rows x 25 columns]
              CUIL       DNI Last_Name           Name Gender Date_Birth  \
ID
15514  20183602781  18360278    Duarte  Sergio German   None 1967-10-27

      Age_at_Discharge  ID_Province      Locality           Street  ...  \
ID                                                                  ...
15514             None           17  BARRIO COBOS  ALMAFUERTE 3130  ...

          Salary   CBU Collection_Entity Employer Dependence  CUIT_Employer  \
ID
15514  311203.71  None      Decreto 1412     None       None           None

      ID_Empl_Prov Empl_Loc Empl_Adress Last_Update
ID
15514         None     None        None  2023-02-22

[1 rows x 25 columns]

In [14]:
from app.modules.database.credit_manager import credits_balance
balance = credits_balance()
print(f'Deuda Total: $ {balance['Total'].sum():,.2f}')

# balance[['Capital', 'Interest', 'IVA', 'Total']] = balance[['Capital', 'Interest', 'IVA', 'Total']].map('${:,.2f}'.format)
balance

Deuda Total: $ 11,596,759.57

,ID_Op,Nro_Inst,D_Due,Capital,Interest,IVA,Total,ID_Owner
ID,,,,,,,,
1,1,1,2022-09-20,0.00,0.00,0.00,0.00,1
2,1,2,2022-10-20,0.00,0.00,0.00,0.00,1
3,1,3,2022-11-20,0.00,0.00,0.00,0.00,1
4,1,4,2022-12-20,5844.58,11610.23,2438.15,19892.96,1
5,1,5,2023-01-20,6309.57,11225.94,2357.45,19892.96,1
...,...,...,...,...,...,...,...,...
1220,68,14,2023-10-20,4037.47,1945.32,408.52,6391.31,1
1221,68,15,2023-11-20,4358.69,1679.85,352.77,6391.31,1
1222,68,16,2023-12-20,4705.47,1393.26,292.58,6391.31,1
1223,68,17,2024-01-20,5079.83,1083.86,227.61,6391.31,1
1224,68,18,2024-02-20,5483.99,749.85,157.47,6391.31,1

In [9]:
db_customers = pd.read_sql('customers', engine, index_col='ID')

db_customers.loc[db_customers['CUIL'] == 20381872743]

,CUIL,DNI,Last_Name,Name,Gender,Date_Birth,Age_at_Discharge,ID_Province,Locality,Street,...,Salary,CBU,Collection_Entity,Employer,Dependence,CUIT_Employer,ID_Empl_Prov,Empl_Loc,Empl_Adress,Last_Update
ID,,,,,,,,,,,,,,,,,,,,,
27,20381872743,38187274,Leiva,Gonzalo Emiliano Rafael,None,1993-07-22,NaN,16,GRAL ROCA,9 DE JULIO 1265 2 C,...,133852.71,None,Decreto 1412,None,None,None,NaN,None,None,2023-02-22

In [15]:
reload(credit_manager)
reload(portfolio_manager)
reload(customers);
 
from app.modules.database.customers import id_province, categorical_gender, add_customer
from app.modules.database.credit_manager import new_credit
from app.modules.database.portfolio_manager import read_data, portfolio_buyer
import numpy_financial as npf

path = 'inputs/Onoyen - Cartera Nro. 4.xlsx'

df, new_customers, pp, new_credits, installments, collections = portfolio_buyer(path, 2, 2, 0.62, True, False, date=pd.Period("2023/04/18"), save=True, model=False)

df.head(2)

              CUIL       DNI Last_Name             Name Gender Date_Birth  \
ID
15810  20324995251  32499525    Britez  Eduardo Gabriel   None 1987-01-29
15937  20183602781  18360278    Duarte    Sergio German   None 1967-10-27
15952  20372203685  37220368   Aguirre    Oscar Alberto   None 1994-02-14
15999  27260634599  26063459    Torres   Nelida Natalia   None 1977-12-03
16077  23355571149  35557114   Reartes       Dante Eloy   None 1992-01-16
16088  23263287959  26328795   Herrera   Mariano Javier   None 1978-01-12
16252  27398387975  39838797     Gomez  Natalia Daniela   None 1996-08-23

      Age_at_Discharge  ID_Province                             Locality  \
ID
15810             None            1          BARRIO BERNARDINO RIVADAVIA
15937             None            1          BARRIO BERNARDINO RIVADAVIA
15952             None            1  CARNERILLOS (COSQUIN-DPTO. PUNILLA)
15999             None            1                         BARRIO COBOS
16077             None           15          BARRIO BERNARDINO RIVADAVIA
16088             None            6                   BARRIO BUEN PASTOR
16252             None            2          BARRIO BERNARDINO RIVADAVIA

                                  Street  ...     Salary   CBU  \
ID                                        ...
15810  SECTOR SUBOFICIALES CASA 32 148    ...  142918.99  None
15937    SECTOR SUBOFICIALES CASA 32 148  ...  311203.71  None
15952                 ONOFRE MARIMON 245  ...   80759.59  None
15999                    ALMAFUERTE 3130  ...   77185.07  None
16077         ALICIA MOREAO DE JUSTO 625  ...  107491.82  None
16088                      F.PODESTA S/N  ...  128703.85  None
16252    MZ 7 CASA 5 B* 8 DE OCTUBRE S/N  ...   58303.03  None

      Collection_Entity Employer Dependence  CUIT_Employer ID_Empl_Prov  \
ID
15810      Decreto 1412     None       None           None         None
15937      Decreto 1412     None       None           None         None
15952      Decreto 1412     None       None           None         None
15999      Decreto 1412     None       None           None         None
16077      Decreto 1412     None       None           None         None
16088      Decreto 1412     None       None           None         None
16252      Decreto 1412     None       None           None         None

      Empl_Loc Empl_Adress Last_Update
ID
15810     None        None  2023-04-18
15937     None        None  2023-04-18
15952     None        None  2023-04-18
15999     None        None  2023-04-18
16077     None        None  2023-04-18
16088     None        None  2023-04-18
16252     None        None  2023-04-18

[7 rows x 25 columns]

,CUIL,DNI,Last_Name,Name,Date_Birth,Gender,Age_at_Discharge,Province,Locality,Street,...,Cap_Requested,Cap_Grant,N_Inst,First_Inst_Purch,TEM_W_IVA,V_Inst,D_F_Due,ID_Province,ID_Empl_Prov,Last_Update
ID,,,,,,,,,,,,,,,,,,,,,
15819,27385107957,38510795,Rumbo,Maira Yanet,1995-07-18,None,None,Buenos Aires,RAMOS MEJIA,FRAY GONZALEZ 1048,...,52472.326257,52472.326257,18,8,0.07956,5581.83,2022-10-20,1,None,2023-04-18
15806,20321425047,32142504,Salinas,Adan Abel,1985-12-18,None,None,Buenos Aires,ARROYO PESCADO,AGUSTIN P JUSTO 1243,...,93878.009823,93878.009823,18,8,0.07956,9986.42,2022-10-20,1,None,2023-04-18

In [11]:
new_credits

,ID_External,ID_Client,Date_Settlement,ID_BP,Cap_Requested,Cap_Grant,N_Inst,First_Inst_Purch,TEM_W_IVA,V_Inst,First_Inst_Sold,D_F_Due,ID_Purch,ID_Sale
ID,,,,,,,,,,,,,,
49,15643,48.0,2022-08-17,2.0,93878.178799,93878.178799,18.0,7,0.07956,9986.42,0.0,2022-10-20,3.0,None
50,15644,49.0,2022-08-17,2.0,124934.417710,124934.417710,18.0,7,0.07956,13290.07,0.0,2022-10-20,3.0,None
51,15645,50.0,2022-08-17,2.0,238826.157557,238826.157557,18.0,7,0.07956,25405.46,0.0,2022-10-20,3.0,None
52,15651,51.0,2022-08-17,2.0,85616.945692,85616.945692,18.0,7,0.07956,9107.62,0.0,2022-10-20,3.0,None
53,15682,52.0,2022-08-18,2.0,121666.116715,121666.116715,18.0,7,0.07956,12942.40,0.0,2022-10-20,3.0,None
54,15689,53.0,2022-08-18,2.0,30792.082505,30792.082505,18.0,7,0.07956,3275.55,0.0,2022-10-20,3.0,None
55,15692,54.0,2022-08-18,2.0,105143.556495,105143.556495,18.0,7,0.07956,11184.79,0.0,2022-10-20,3.0,None
56,15693,27.0,2022-08-18,2.0,105143.556495,105143.556495,18.0,7,0.07956,11184.79,0.0,2022-10-20,3.0,None
57,15697,55.0,2022-08-19,2.0,93878.178799,93878.178799,18.0,7,0.07956,9986.42,0.0,2022-10-20,3.0,None
58,15717,17.0,2022-08-19,2.0,96882.323387,96882.323387,18.0,7,0.07956,10305.99,0.0,2022-10-20,3.0,None
59,15722,56.0,2022-08-22,2.0,23281.768037,23281.768037,18.0,7,0.07956,2476.63,0.0,2022-10-20,3.0,None
60,15732,57.0,2022-08-22,2.0,54138.244541,54138.244541,18.0,7,0.07956,5759.03,0.0,2022-10-20,3.0,None
61,15733,58.0,2022-08-22,2.0,118662.066133,118662.066133,18.0,7,0.07956,12622.84,0.0,2022-10-20,3.0,None
62,15734,53.0,2022-08-22,2.0,15020.534929,15020.534929,18.0,7,0.07956,1597.83,0.0,2022-10-20,3.0,None
63,15737,31.0,2022-08-22,2.0,93878.178799,93878.178799,18.0,7,0.07956,9986.42,0.0,2022-10-20,3.0,None
64,15748,2.0,2022-08-23,2.0,141192.821524,141192.821524,18.0,7,0.07956,15019.58,0.0,2022-10-20,3.0,None
65,15749,20.0,2022-08-23,2.0,184001.294370,184001.294370,18.0,7,0.07956,19573.39,0.0,2022-10-20,3.0,None
66,15761,38.0,2022-08-23,2.0,93878.178799,93878.178799,18.0,7,0.07956,9986.42,0.0,2022-10-20,3.0,None
67,15779,60.0,2022-08-24,2.0,93878.178799,93878.178799,18.0,7,0.07956,9986.42,0.0,2022-10-20,3.0,None
68,15797,61.0,2022-08-25,2.0,60081.926286,60081.926286,18.0,7,0.07956,6391.31,0.0,2022-10-20,3.0,None

In [12]:
installments

,ID_Op,Nro_Inst,D_Due,Capital,Interest,IVA,Total,ID_Owner
864,49,1,2022-09-20,2331.972973,6325.989279,1328.457749,9986.42,1.0
865,49,2,2022-10-20,2517.503951,6172.657892,1296.258157,9986.42,1.0
866,49,3,2022-11-20,2717.795711,6007.127511,1261.496777,9986.42,1.0
867,49,4,2022-12-20,2934.022616,5828.427590,1223.969794,9986.42,1.0
868,49,5,2023-01-20,3167.452460,5635.510364,1183.457176,9986.42,1.0
...,...,...,...,...,...,...,...,...
1219,68,14,2023-10-20,4037.469956,1945.322351,408.517694,6391.31,1.0
1220,68,15,2023-11-20,4358.690850,1679.850537,352.768613,6391.31,1.0
1221,68,16,2023-12-20,4705.468062,1393.257800,292.584138,6391.31,1.0
1222,68,17,2024-01-20,5079.834850,1083.863761,227.611390,6391.31,1.0
1223,68,18,2024-02-20,5483.986240,749.854347,157.469413,6391.31,1.0

In [13]:
collections

,ID_Inst,D_Emission,Type_Collection,Capital,Interest,IVA,Total
ID,,,,,,,
1,864,2023-03-21,NO COMPRADA,2331.972973,6325.989279,1328.457749,9986.42
2,865,2023-03-21,NO COMPRADA,2517.503951,6172.657892,1296.258157,9986.42
3,866,2023-03-21,NO COMPRADA,2717.795711,6007.127511,1261.496777,9986.42
4,867,2023-03-21,NO COMPRADA,2934.022616,5828.427590,1223.969794,9986.42
5,868,2023-03-21,NO COMPRADA,3167.452460,5635.510364,1183.457176,9986.42
...,...,...,...,...,...,...,...
116,1207,2023-03-21,NO COMPRADA,1611.195147,3950.508143,829.606710,6391.31
117,1208,2023-03-21,NO COMPRADA,1739.381747,3844.568804,807.359449,6391.31
118,1209,2023-03-21,NO COMPRADA,1877.766866,3730.200937,783.342197,6391.31
119,1210,2023-03-21,NO COMPRADA,2027.161898,3606.733969,757.414133,6391.31
120,1211,2023-03-21,NO COMPRADA,2188.442791,3473.443975,729.423235,6391.31