# Financial App

In [1]:
import os
import pandas as pd

# Get the current working directory
os.chdir("..")
# Verify the current working directory
print(f"Now in directory: {os.getcwd()}")

# Import your module
from app.modules.database.connection import engine
import app.modules.database.credit_manager as credit_manager
from importlib import reload

%run logs/run_log.py

Now in directory: c:\Users\juanm_8qa8lav\Documents\Proyectos_Personales\FinancialApp

IntegrityError: (pymysql.err.IntegrityError) (1062, "Duplicate entry '1' for key 'provinces.PRIMARY'")
[SQL: INSERT INTO provinces (`ID`, `Name`) VALUES (%(ID)s, %(Name)s)]
[parameters: [{'ID': 1, 'Name': 'Buenos Aires'}, {'ID': 4, 'Name': 'Catamarca'}, {'ID': 5, 'Name': 'Chaco'}, {'ID': 2, 'Name': 'Chubut'}, {'ID': 3, 'Name': 'Ciudad Autónoma de Buenos Aires'}, {'ID': 7, 'Name': 'Corrientes'}, {'ID': 6, 'Name': 'Córdoba'}, {'ID': 8, 'Name': 'Entre Ríos'}  ... displaying 10 of 24 total bound parameter sets ...  {'ID': 23, 'Name': 'Tierra del Fuego'}, {'ID': 24, 'Name': 'Tucumán'}]]
(Background on this error at: https://sqlalche.me/e/20/gkpj)

In [2]:
# reload(credit_manager)
from app.modules.database.credit_manager import credits_balance
balance = credits_balance()
print(f'Deuda Total: $ {balance['Total'].sum():,.2f}')

# balance[['Capital', 'Interest', 'IVA', 'Total']] = balance[['Capital', 'Interest', 'IVA', 'Total']].map('${:,.2f}'.format)
balance.loc[balance['ID_Op'] == 2]

Deuda Total: $ 5,452,862.28

,ID_Op,Nro_Inst,D_Due,Capital,Interest,IVA,Total,ID_Owner
ID,,,,,,,,
7,2,1,2025-01-28,16097.76,66568.55,13979.40,96645.71,1
8,2,2,2025-02-28,18691.05,64425.34,13529.32,96645.71,1
9,2,3,2025-03-28,21702.10,61936.87,13006.74,96645.71,1
10,2,4,2025-04-28,25198.22,59047.51,12399.98,96645.71,1
11,2,5,2025-05-28,29257.54,55692.70,11695.47,96645.71,1
12,2,6,2025-06-28,33970.81,51797.43,10877.46,96645.71,1
13,2,7,2025-07-28,39443.37,47274.66,9927.68,96645.71,1
14,2,8,2025-08-28,45797.54,42023.28,8824.89,96645.71,1
15,2,9,2025-09-28,53175.33,35925.93,7544.45,96645.71,1
16,2,10,2025-10-28,61741.66,28846.32,6057.73,96645.71,1
17,2,11,2025-11-28,71687.99,20626.21,4331.50,96645.71,1
18,2,12,2025-12-28,83236.63,11081.88,2327.20,96645.71,1

In [3]:
reload(credit_manager)
from app.modules.database.credit_manager import TypeDataCollection, read_collection_file, collection_w_early_cancel

amount = balance.loc[balance['ID_Op'] == 2, 'Capital'].sum() - 2000 + 66568.55 + 13979.40 + 64425.34 + 13529.32 + 1000
collections, penalties, installments = collection_w_early_cancel(TypeDataCollection.ID_Op, 2, amount, 3, pd.Timestamp("2025/03/25"), True)

print(f'COMÚN :$ {collections.loc[collections['Type_Collection'] == 'COMÚN', 'Total'].sum():,.2f}')
print(f'CAN. ANT. :$ {collections.loc[collections['Type_Collection'] == 'CAN. ANT.', 'Total'].sum():,.2f}')
print(f'PENALTY :$ {collections.loc[collections['Type_Collection'] == 'PENALTY', 'Total'].sum():,.2f}')
print(f'Total :$ {collections.loc[~collections['Type_Collection'].isin(['BON. CAN. ANT.', 'REDONDEO']), 'Total'].sum():,.2f}')

collections

[2]
Amount: $ 657,502.61
Amount: $ 464,211.19
Amount: $ 82,236.63
Amount: $ 82,236.63

COMÚN :$ 193,291.42
CAN. ANT. :$ 381,974.56
PENALTY :$ 0.00
Total :$ 657,502.61

,ID_Inst,D_Emission,Type_Collection,Capital,Interest,IVA,Total
ID,,,,,,,
0,7,2025-03-25,COMÚN,16097.76,66568.55,13979.40,9.664571e+04
1,8,2025-03-25,COMÚN,18691.05,64425.34,13529.32,9.664571e+04
2,9,2025-03-25,CAN. ANT.,21702.10,0.00,0.00,2.170210e+04
3,10,2025-03-25,CAN. ANT.,25198.22,0.00,0.00,2.519822e+04
4,11,2025-03-25,CAN. ANT.,29257.54,0.00,0.00,2.925754e+04
5,12,2025-03-25,CAN. ANT.,33970.81,0.00,0.00,3.397081e+04
6,13,2025-03-25,CAN. ANT.,39443.37,0.00,0.00,3.944337e+04
7,14,2025-03-25,CAN. ANT.,45797.54,0.00,0.00,4.579754e+04
8,15,2025-03-25,CAN. ANT.,53175.33,0.00,0.00,5.317533e+04
9,16,2025-03-25,CAN. ANT.,61741.66,0.00,0.00,6.174166e+04
10,17,2025-03-25,CAN. ANT.,71687.99,0.00,0.00,7.168799e+04
11,9,2025-03-25,BON. CAN. ANT.,0.00,61936.87,13006.74,7.494361e+04
12,10,2025-03-25,BON. CAN. ANT.,0.00,59047.51,12399.98,7.144749e+04
13,11,2025-03-25,BON. CAN. ANT.,0.00,55692.70,11695.47,6.738817e+04
14,12,2025-03-25,BON. CAN. ANT.,0.00,51797.43,10877.46,6.267489e+04
15,13,2025-03-25,BON. CAN. ANT.,0.00,47274.66,9927.68,5.720234e+04
16,14,2025-03-25,BON. CAN. ANT.,0.00,42023.28,8824.89,5.084817e+04
17,15,2025-03-25,BON. CAN. ANT.,0.00,35925.93,7544.45,4.347038e+04
18,16,2025-03-25,BON. CAN. ANT.,0.00,28846.32,6057.73,3.490405e+04
19,17,2025-03-25,BON. CAN. ANT.,0.00,20626.21,4331.50,2.495771e+04
20,18,2025-03-25,ANTICIPADA,82236.63,0.00,0.00,8.223663e+04
21,9,2025-03-25,REDONDEO,0.00,0.00,0.00,1.455192e-11
22,11,2025-03-25,REDONDEO,0.00,0.00,0.00,1.455192e-11
23,12,2025-03-25,REDONDEO,0.00,0.00,0.00,1.000000e-02
24,13,2025-03-25,REDONDEO,0.00,0.00,0.00,1.455192e-11
25,14,2025-03-25,REDONDEO,0.00,0.00,0.00,1.455192e-11
26,15,2025-03-25,REDONDEO,0.00,0.00,0.00,1.455192e-11
27,17,2025-03-25,REDONDEO,0.00,0.00,0.00,1.000000e-02

In [4]:
penalties

Empty DataFrame
Columns: []
Index: []

In [5]:
installments

Empty DataFrame
Columns: []
Index: []

In [8]:
from app.modules.database.credit_manager import credits_balance
balance = credits_balance()
print(f'Deuda Total: $ {balance['Total'].sum():,.2f}')

# balance[['Capital', 'Interest', 'IVA', 'Total']] = balance[['Capital', 'Interest', 'IVA', 'Total']].map('${:,.2f}'.format)
balance.loc[balance['ID_Op'].isin([1, 2])]

Deuda Total: $ 5,452,862.28

,ID_Op,Nro_Inst,D_Due,Capital,Interest,IVA,Total,ID_Owner
ID,,,,,,,,
1,1,1,2025-01-28,112940.88,127702.93,26817.62,267461.43,1
2,1,2,2025-02-28,130392.56,113280.05,23788.81,267461.43,1
3,1,3,2025-03-28,150540.89,96628.54,20291.99,267461.43,1
4,1,4,2025-04-28,173802.55,77404.03,16254.85,267461.43,1
5,1,5,2025-05-28,200658.62,55208.93,11593.88,267461.43,1
6,1,6,2025-06-28,231664.50,29584.24,6212.69,267461.43,1
7,2,1,2025-01-28,16097.76,66568.55,13979.40,96645.71,1
8,2,2,2025-02-28,18691.05,64425.34,13529.32,96645.71,1
9,2,3,2025-03-28,21702.10,61936.87,13006.74,96645.71,1
10,2,4,2025-04-28,25198.22,59047.51,12399.98,96645.71,1
11,2,5,2025-05-28,29257.54,55692.70,11695.47,96645.71,1
12,2,6,2025-06-28,33970.81,51797.43,10877.46,96645.71,1
13,2,7,2025-07-28,39443.37,47274.66,9927.68,96645.71,1
14,2,8,2025-08-28,45797.54,42023.28,8824.89,96645.71,1
15,2,9,2025-09-28,53175.33,35925.93,7544.45,96645.71,1
16,2,10,2025-10-28,61741.66,28846.32,6057.73,96645.71,1
17,2,11,2025-11-28,71687.99,20626.21,4331.50,96645.71,1
18,2,12,2025-12-28,83236.63,11081.88,2327.20,96645.71,1

In [ ]:
reload(credit_manager)
from app.modules.database.credit_manager import TypeDataCollection, massive_early_collection


collections, penalties, installments, error  = massive_early_collection('inputs/Cobranza - AMUF.xlsx', 2, TypeDataCollection.DNI, pd.Timestamp("2025/03/25"), save=True)

collections

                  Amount
DNI
36329758   $1,605,768.58
45678901  $10,000,000.00
36329758:
45678901:

,ID_Inst,D_Emission,Type_Collection,Capital,Interest,IVA,Total
ID,,,,,,,
0,19,2025-03-25,COMÚN,7982.65,116834.60,24535.27,149352.51
1,20,2025-03-25,COMÚN,9393.28,115668.79,24290.45,149352.51
2,21,2025-03-25,COMÚN,11053.19,114296.96,24002.36,149352.51
3,22,2025-03-25,CAN. ANT.,13006.43,0.00,0.00,13006.43
4,23,2025-03-25,CAN. ANT.,15304.82,0.00,0.00,15304.82
5,24,2025-03-25,CAN. ANT.,18009.37,0.00,0.00,18009.37
6,25,2025-03-25,CAN. ANT.,21191.85,0.00,0.00,21191.85
7,26,2025-03-25,CAN. ANT.,24936.71,0.00,0.00,24936.71
8,27,2025-03-25,CAN. ANT.,29343.34,0.00,0.00,29343.34
9,28,2025-03-25,CAN. ANT.,34528.67,0.00,0.00,34528.67
10,29,2025-03-25,CAN. ANT.,40630.31,0.00,0.00,40630.31
11,30,2025-03-25,CAN. ANT.,47810.18,0.00,0.00,47810.18
12,31,2025-03-25,CAN. ANT.,56258.83,0.00,0.00,56258.83
13,32,2025-03-25,CAN. ANT.,66200.46,0.00,0.00,66200.46
14,33,2025-03-25,CAN. ANT.,77898.90,0.00,0.00,77898.90
15,34,2025-03-25,CAN. ANT.,91664.59,0.00,0.00,91664.59
16,35,2025-03-25,CAN. ANT.,107862.86,0.00,0.00,107862.86
17,36,2025-03-25,CAN. ANT.,126923.56,0.00,0.00,126923.56
18,22,2025-03-25,BON. CAN. ANT.,0.00,112682.72,23663.37,136346.09
19,23,2025-03-25,BON. CAN. ANT.,0.00,110783.22,23264.48,134047.70
20,24,2025-03-25,BON. CAN. ANT.,0.00,108548.05,22795.09,131343.14
21,25,2025-03-25,BON. CAN. ANT.,0.00,105917.90,22242.76,128160.66
22,26,2025-03-25,BON. CAN. ANT.,0.00,102822.98,21592.83,124415.81
23,27,2025-03-25,BON. CAN. ANT.,0.00,99181.14,20828.04,120009.18
24,28,2025-03-25,BON. CAN. ANT.,0.00,94895.74,19928.11,114823.85
25,29,2025-03-25,BON. CAN. ANT.,0.00,89853.06,18869.14,108722.20
26,30,2025-03-25,BON. CAN. ANT.,0.00,83919.28,17623.05,101542.33
27,31,2025-03-25,BON. CAN. ANT.,0.00,76936.93,16156.75,93093.68
28,32,2025-03-25,BON. CAN. ANT.,0.00,68720.70,14431.35,83152.05
29,33,2025-03-25,BON. CAN. ANT.,0.00,59052.57,12401.04,71453.61
30,34,2025-03-25,BON. CAN. ANT.,0.00,47675.97,10011.95,57687.92
31,35,2025-03-25,BON. CAN. ANT.,0.00,34288.97,7200.68,41489.65
32,36,2025-03-25,BON. CAN. ANT.,0.00,18536.33,3892.63,22428.96
33,43,2025-03-25,PENALTY,0.00,319124.11,67016.06,386140.17
34,22,2025-03-25,REDONDEO,0.00,0.00,0.00,-0.01
35,23,2025-03-25,REDONDEO,0.00,0.00,0.00,-0.01
36,26,2025-03-25,REDONDEO,0.00,0.00,0.00,-0.01
37,27,2025-03-25,REDONDEO,0.00,0.00,0.00,-0.01
38,28,2025-03-25,REDONDEO,0.00,0.00,0.00,-0.01
39,36,2025-03-25,REDONDEO,0.00,0.00,0.00,-0.01

In [43]:
penalties

,ID_External,ID_Client,Date_Settlement,ID_BP,Cap_Requested,Cap_Grant,N_Inst,First_Inst_Purch,TEM_W_IVA,V_Inst,First_Inst_Sold,D_F_Due,ID_Purch,ID_Sale
ID,,,,,,,,,,,,,,
0,NaN,1,2025-03-25,1,0.0,0.0,1,NaN,0.0,386140.169,NaN,2025-03-25,NaN,NaN

In [44]:
installments

,ID_Op,Nro_Inst,D_Due,Capital,Interest,IVA,Total,ID_Owner
ID,,,,,,,,
0,10,1,2025-03-25,0.0,319124.11,67016.06,386140.17,1

In [45]:
error

              Amount
DNI
45678901  10000000.0

In [37]:
balance = credits_balance()
print(f'Deuda Total: $ {balance['Total'].sum():,.2f}')

# balance[['Capital', 'Interest', 'IVA', 'Total']] = balance[['Capital', 'Interest', 'IVA', 'Total']].map('${:,.2f}'.format)
balance

Deuda Total: $ 2,688,345.18

,ID_Op,Nro_Inst,D_Due,Capital,Interest,IVA,Total,ID_Owner
ID,,,,,,,,
1,1,1,2025-01-28,0.00,0.00,0.00,0.00,1
2,1,2,2025-02-28,0.00,0.00,0.00,0.00,1
3,1,3,2025-03-28,0.00,0.00,0.00,0.00,1
4,1,4,2025-04-28,0.00,0.00,0.00,0.00,1
5,1,5,2025-05-28,0.00,0.00,0.00,0.00,1
6,1,6,2025-06-28,0.00,0.00,0.00,0.00,1
7,2,1,2025-01-28,0.00,0.00,0.00,0.00,1
8,2,2,2025-02-28,0.00,0.00,0.00,0.00,1
9,2,3,2025-03-28,0.00,0.00,0.00,0.00,1
10,2,4,2025-04-28,0.00,0.00,0.00,0.00,1
11,2,5,2025-05-28,0.00,0.00,0.00,0.00,1
12,2,6,2025-06-28,0.00,0.00,0.00,0.00,1
13,2,7,2025-07-28,0.00,0.00,0.00,0.00,1
14,2,8,2025-08-28,0.00,0.00,0.00,0.00,1
15,2,9,2025-09-28,0.00,0.00,0.00,0.00,1
16,2,10,2025-10-28,0.00,0.00,0.00,0.00,1
17,2,11,2025-11-28,0.00,0.00,0.00,0.00,1
18,2,12,2025-12-28,0.00,0.00,0.00,0.00,1
19,3,1,2024-12-28,7982.65,116834.60,24535.27,149352.51,1
20,3,2,2025-01-28,9393.28,115668.79,24290.45,149352.51,1
21,3,3,2025-02-28,11053.19,114296.96,24002.36,149352.51,1
22,3,4,2025-03-28,13006.43,112682.72,23663.37,149352.51,1
23,3,5,2025-04-28,15304.82,110783.22,23264.48,149352.51,1
24,3,6,2025-05-28,18009.37,108548.05,22795.09,149352.51,1
25,3,7,2025-06-28,21191.85,105917.90,22242.76,149352.51,1
26,3,8,2025-07-28,24936.71,102822.98,21592.83,149352.51,1
27,3,9,2025-08-28,29343.34,99181.14,20828.04,149352.51,1
28,3,10,2025-09-28,34528.67,94895.74,19928.11,149352.51,1
29,3,11,2025-10-28,40630.31,89853.06,18869.14,149352.51,1
30,3,12,2025-11-28,47810.18,83919.28,17623.05,149352.51,1
31,3,13,2025-12-28,56258.83,76936.93,16156.75,149352.51,1
32,3,14,2026-01-28,66200.46,68720.70,14431.35,149352.51,1
33,3,15,2026-02-28,77898.90,59052.57,12401.04,149352.51,1
34,3,16,2026-03-28,91664.59,47675.97,10011.95,149352.51,1
35,3,17,2026-04-28,107862.86,34288.97,7200.68,149352.51,1
36,3,18,2026-05-28,126923.56,18536.33,3892.63,149352.51,1
37,4,1,2025-03-25,0.00,0.00,0.00,0.00,1
38,5,1,2025-03-25,0.00,0.00,0.00,0.00,1
39,6,1,2025-03-25,0.00,0.00,0.00,0.00,1
40,7,1,2025-03-25,0.00,0.00,0.00,0.00,1
41,8,1,2025-03-25,0.00,0.00,0.00,0.00,1
42,9,1,2025-03-25,0.00,0.00,0.00,0.00,1

In [31]:
pd.read_sql('credits', engine, index_col='ID')

,ID_External,ID_Client,Date_Settlement,ID_BP,Cap_Requested,Cap_Grant,N_Inst,First_Inst_Purch,TEM_W_IVA,V_Inst,First_Inst_Sold,D_F_Due,ID_Purch,ID_Sale
ID,,,,,,,,,,,,,,
1,None,1,2024-11-28,4,1000000.0,1000000.0,6,0.0,0.154521,267461.42,0.0,2025-01-28,None,None
2,None,2,2024-11-28,4,1000000.0,500000.0,12,0.0,0.161096,96645.71,0.0,2025-01-28,None,None
3,None,1,2024-10-15,2,1000000.0,800000.0,18,5.0,0.176712,149352.51,0.0,2024-12-28,None,None
4,None,1,2025-03-25,1,0.0,0.0,1,NaN,0.000000,8410.58,NaN,2025-03-25,None,None
5,None,2,2025-03-25,1,0.0,0.0,1,NaN,0.000000,9341497.39,NaN,2025-03-25,None,None