# Financial App

In [17]:
import os
import pandas as pd

# Get the current working directory
os.chdir("c:/Users/juanm_8qa8lav/Documents/Proyectos_Personales/FinancialApp")
# Verify the current working directory
print(f"Now in directory: {os.getcwd()}")

# Import your module
from app.modules.database.connection import engine
import app.modules.database.credit_manager as credit_manager
import app.modules.database.portfolio_manager as portfolio_manager
import app.modules.database.customers as customers

from importlib import reload

# %run logs/run_log.py

Now in directory: c:\Users\juanm_8qa8lav\Documents\Proyectos_Personales\FinancialApp

In [18]:
from app.modules.database.credit_manager import credits_balance
balance = credits_balance()
print(f'Deuda Total: $ {balance['Total'].sum():,.2f}')

# balance[['Capital', 'Interest', 'IVA', 'Total']] = balance[['Capital', 'Interest', 'IVA', 'Total']].map('${:,.2f}'.format)
balance

Deuda Total: $ 23,489,039.43

      ID_Op  Nro_Inst      D_Due   Capital  Interest  IVA     Total  ID_Owner
ID
1         1         1 2022-10-20      0.00      0.00  0.0      0.00         1
2         1         2 2022-11-20      0.00      0.00  0.0      0.00         1
3         1         3 2022-12-20      0.00      0.00  0.0      0.00         1
4         1         4 2023-01-20   5844.58  11610.23  0.0  17454.81         1
5         1         5 2023-02-20   6309.57  11225.94  0.0  17535.51         1
...     ...       ...        ...       ...       ...  ...       ...       ...
2726    152        14 2024-08-20  10337.92   7817.81  0.0  18155.72         1
2727    152        15 2024-09-20  11520.26   6840.66  0.0  18360.92         1
2728    152        16 2024-10-20  12837.84   5751.76  0.0  18589.59         1
2729    152        17 2024-11-20  14306.10   4538.31  0.0  18844.41         1
2730    152        18 2024-12-20  15942.29   3186.09  0.0  19128.38         1

[2730 rows x 8 columns]

In [19]:
credits = pd.read_sql('credits', engine, index_col='ID')

credits.loc[1]

ID_External                       15608
ID_Client                             1
Date_Settlement     2022-08-11 00:00:00
ID_BP                                 2
Cap_Requested                 187005.44
Cap_Grant                     187005.44
N_Inst                               18
First_Inst_Purch                      4
TEM_W_IVA                       0.07956
V_Inst                         19892.96
First_Inst_Sold                       0
D_F_Due             2022-10-20 00:00:00
ID_Purch                              1
ID_Sale                            None
Name: 1, dtype: object

In [11]:
customers = pd.read_sql('customers', engine, index_col='ID')

customers.loc[1]

CUIL                                          20340672926
DNI                                              34067292
Last_Name                               Dominguez Chacana
Name                                         Hugo Alfredo
Gender                                               None
Date_Birth                            1989-05-11 00:00:00
Age_at_Discharge                                     33.0
ID_Province                                             1
Locality                                  ALTO LA POLVORA
Street               AV. SARMIENTO 525 10 B BLOCK B S/N
Nro                                                 525.0
CP                                                   4000
Feature                                              None
Telephone                                      3816008165
Seniority                                            None
Salary                                           80524.56
CBU                                                  None
Collection_Entity                            Decreto 1412
Employer                                             None
Dependence                                           None
CUIT_Employer                                        None
ID_Empl_Prov                                          6.0
Empl_Loc                                  ALTO LA POLVORA
Empl_Adress                                          None
Last_Update                           2024-12-26 16:29:46
Name: 1, dtype: object

In [15]:
reload(credit_manager)

credit_manager.charging(credit_manager.TypeDataCollection.CUIL, 20340672926, 1000, 2, pd.Timestamp("2024/12/27", unit='D'))

ResourceError: There are no credits without recourse for the customer (CUIL: 20340672926).