# Financial App

In [81]:
import os
import pandas as pd

# Get the current working directory
os.chdir("c:/Users/juanm_8qa8lav/Documents/Proyectos_Personales/FinancialApp")
# Verify the current working directory
print(f"Now in directory: {os.getcwd()}")

# Import your module
from app.modules.database.connection import engine
import app.modules.database.structur_databases as sdb
import app.modules.database.companies as companies
import app.modules.database.customers as customers
import app.modules.database.credit_manager as credit_manager
import app.modules.database.portfolio_manager as portfolio_manager
import app.modules.database.collection as colltions

from importlib import reload

reload(customers)

# %run logs/run_log.py

Now in directory: c:\Users\juanm_8qa8lav\Documents\Proyectos_Personales\FinancialApp
SQL script executed successfully.
Nuevo plan de negocio creado, su id es 1 y fue asociado a la empresa NeoCrediT S.A.
Nuevo plan de negocio creado, su id es 2 y fue asociado a la empresa Onoyen S.R.L.
Nuevo plan de negocio creado, su id es 3 y fue asociado a la empresa Asociación Mutual Union Federal
Nuevo plan de negocio creado, su id es 4 y fue asociado a la empresa Asociación Mutual Union Federal
Nuevo plan de negocio creado, su id es 5 y fue asociado a la empresa Asociación Mutual Union Federal
Cartera de créditos Onoyen migrada, correctamente.
User with ID 4610 has been deleted.
User with ID 4611 has been deleted.
User with ID 4848 has been deleted.
User with ID 4883 has been deleted.
User with ID 4884 has been deleted.
User with ID 5422 has been deleted.
Cartera de créditos AMUF migrada.
Cartera de AMUF migrada correctamente.
Nuevo plan de negocio creado, su id es 6 y fue asociado a la empresa Asociación Mutual Union Federal

In [91]:
pp = pd.read_sql('portfolio_purchases', engine, index_col='ID')
customers = pd.read_sql('customers', engine, index_col='ID')
credits = pd.read_sql('credits', engine, index_col='ID')
collections = pd.read_sql('collection', engine, index_col='ID')
installments = pd.read_sql('installments', engine, index_col='ID')
companies = pd.read_sql('companies', engine, index_col='ID')
bp = pd.read_sql('business_plan', engine, index_col='ID')
companies = pd.read_sql('companies', engine, index_col='ID')

from app.modules.database.credit_manager import credits_balance
balance = credits_balance()
print(f'Capital: $ {balance['Capital'].sum():,.2f}')
print(f'Interés: $ {balance['Interest'].sum():,.2f}')
print(f'IVA: $ {balance['IVA'].sum():,.2f}')
print(f'Total: $ {balance['Total'].sum():,.2f}')

# balance[['Capital', 'Interest', 'IVA', 'Total']] = balance[['Capital', 'Interest', 'IVA', 'Total']].map('${:,.2f}'.format)
balance.loc[balance['Total'] > 0]

Capital: $ 34,891,606.62
Interés: $ 31,843,591.08
IVA: $ 6,687,154.04
Total: $ 73,422,351.89

,ID_Op,Nro_Inst,D_Due,Capital,Interest,IVA,Total,ID_Owner
ID,,,,,,,,
3330,205,12,2025-01-28,38066.65,6296.32,1322.23,45685.19,1
3342,206,12,2025-01-28,25377.77,4197.55,881.48,30456.80,1
3363,208,12,2025-01-28,63444.41,10493.86,2203.71,76141.99,1
3375,209,12,2025-01-28,30453.32,4835.55,1015.46,36304.33,1
3387,210,12,2025-01-28,25377.77,4197.55,881.48,30456.80,1
...,...,...,...,...,...,...,...,...
5504,387,5,2025-06-28,41947.00,33700.92,7077.19,82725.11,1
5505,387,6,2025-07-28,48049.42,28657.60,6018.10,82725.11,1
5506,387,7,2025-08-28,55039.63,22880.57,4804.92,82725.11,1
5507,387,8,2025-09-28,63046.76,16263.10,3415.25,82725.11,1
5508,387,9,2025-10-28,72218.77,8682.93,1823.42,82725.11,1

In [83]:
companies.head(5)

                      Social_Reason         CUIT  Advance
ID
1                    NeoCrediT S.A.  30717558142      0.0
2                     Onoyen S.R.L.  30711188069      0.0
3   Asociación Mutual Union Federal  30708721561      0.0

In [84]:
bp

,ID_Company,Detail,Date,Comission,Comission_6,Comission_9,Comission_12,Comission_15,Comission_18,Comission_24,Comission_36,Comission_48,Comission_Collection,Comission_Extra
ID,,,,,,,,,,,,,,
1,1,Empresa dueña de la cartera.,2025-01-03 11:27:33,0.00,0.0,0.00,0.00,0.000,0.0000,0.0000,0.0,0.0,0.00,0.00
2,2,Proveedor de carteras de créditos.,2025-01-03 11:27:33,0.00,0.0,0.00,0.00,0.000,0.0000,0.0000,0.0,0.0,0.00,0.00
3,3,Nos consiguen clientes de Chubut (II CHUBUT - ...,2022-08-01 00:00:00,0.11,0.0,0.06,0.08,0.095,0.0135,0.0145,0.0,0.0,0.06,0.00
4,3,Cambio de comisiones (X CHUBUT - ACTIVOS Y PAS...,2024-05-03 00:00:00,0.06,0.0,0.06,0.08,0.095,0.0135,0.0145,0.0,0.0,0.04,0.00
5,3,Cambio de comisiones (CHUBUT (GASTOS AMUF) - A...,2024-12-19 00:00:00,0.06,0.0,0.06,0.08,0.095,0.0135,0.0145,0.0,0.0,0.04,0.08
6,3,Cambio de comisiones (CHUBUT (GASTOS AMUF) - A...,2025-01-01 00:00:00,0.10,0.0,0.06,0.08,0.095,0.0135,0.0145,0.0,0.0,0.04,0.10

In [85]:
pp

                  Date  ID_Company    TNA  Buyback  Resource  IVA
ID
1  2022-12-21 00:00:00           2  0.885        0         1    0
2  2023-02-22 00:00:00           2  0.870        0         1    0
3  2023-03-21 00:00:00           2  0.670        0         1    0
4  2023-04-18 00:00:00           2  0.620        0         1    0
5  2023-05-18 00:00:00           2  0.590        0         1    0
6  2023-06-15 00:00:00           2  0.480        0         1    0
7  2025-01-03 11:27:33           3  0.000        0         0    1
8  2025-01-03 11:27:33           3  0.000        0         0    1
9  2025-01-03 11:27:33           3  0.000        0         0    1
10 2025-01-03 12:46:26           3  0.000        0         0    1

In [86]:
id = 205
cr = credits.loc[id]
cr

ID_External                       80906
ID_Client                           180
Date_Settlement     2023-12-15 00:00:00
ID_BP                                 3
Cap_Requested                  202702.7
Cap_Grant                      202702.7
N_Inst                               12
First_Inst_Purch                    1.0
TEM_W_IVA                      0.200137
V_Inst                         45685.19
First_Inst_Sold                     0.0
D_F_Due             2024-02-28 00:00:00
ID_Purch                            7.0
ID_Sale                            None
Name: 205, dtype: object

In [87]:
customers.loc[cr['ID_Client']]

CUIL                                                20241218393
DNI                                                    24121839
Last_Name                                                Holmes
Name                                              Eduardo Oscar
Gender                                                     None
Date_Birth                                  1975-05-06 00:00:00
Marital_Status                                           SINGLE
Age_at_Discharge                                           48.0
Country                                               ARGENTINA
ID_Province                                                   2
Locality                                                 ESQUEL
Street                          PINTOR ANTUNEZ  646        9200
Nro                                                       646.0
CP                                                         9200
Feature                                                    None
Telephone                                                  None
Seniority                                                  None
Salary                                                946521.29
CBU                                      0830002731003790840014
Collection_Entity    II CHUBUT - ACTIVOS Y PASIVOS PROVINCIALES
Employer               CHUBUT - SUBSECRETARIA DE PESCA - CHUBUT
Dependence                                                 None
CUIT_Employer                                       20241218393
ID_Empl_Prov                                                2.0
Empl_Loc                                                 CHUBUT
Empl_Adress                                                None
Last_Update                                 2025-01-03 11:27:33
Name: 180, dtype: object

In [88]:
installments.loc[installments['ID_Op'] == id]

,ID_Op,Nro_Inst,D_Due,Capital,Interest,IVA,Total,ID_Owner
ID,,,,,,,,
3319,205,1,2024-02-28,5116.88,33527.53,7040.78,45685.19,1
3320,205,2,2024-03-28,6140.96,32681.18,6863.05,45685.19,1
3321,205,3,2024-04-28,7370.00,31665.45,6649.74,45685.19,1
3322,205,4,2024-05-28,8845.00,30446.44,6393.75,45685.19,1
3323,205,5,2024-06-28,10615.22,28983.45,6086.52,45685.19,1
3324,205,6,2024-07-28,12739.72,27227.67,5717.81,45685.19,1
3325,205,7,2024-08-28,15289.40,25120.49,5275.30,45685.19,1
3326,205,8,2024-09-28,18349.38,22591.58,4744.23,45685.19,1
3327,205,9,2024-10-28,22021.77,19556.55,4106.88,45685.19,1
3328,205,10,2024-11-28,26429.14,15914.09,3341.96,45685.19,1
3329,205,11,2024-12-28,31718.59,11542.65,2423.96,45685.19,1
3330,205,12,2025-01-28,38066.65,6296.32,1322.23,45685.19,1

In [89]:
collections.loc[collections['ID_Inst'].isin(installments.loc[installments['ID_Op'] == id].index)]

,ID_Inst,D_Emission,Type_Collection,Capital,Interest,IVA,Total
ID,,,,,,,
3324,3319,2024-02-09,COMUN,5116.88,33527.53,7040.78,45685.19
3396,3320,2024-03-07,COMUN,6140.96,32681.18,6863.05,45685.19
3493,3321,2024-04-13,COMUN,7370.00,31665.45,6649.74,45685.19
3619,3322,2024-05-08,COMUN,8845.00,30446.44,6393.75,45685.19
3828,3323,2024-06-07,COMUN,10615.22,28983.45,6086.52,45685.19
4001,3324,2024-07-08,COMUN,12739.72,27227.67,5717.81,45685.19
4224,3325,2024-08-12,COMUN,15289.40,25120.49,5275.30,45685.19
4486,3326,2024-09-11,COMUN,18349.38,22591.58,4744.23,45685.19
4728,3327,2024-10-09,COMUN,22021.77,19556.55,4106.88,45685.19
5066,3328,2024-11-14,COMUN,26429.14,15914.09,3341.96,45685.19
5253,3329,2024-12-21,COMUN,31718.59,11542.65,2423.96,45685.19

In [90]:
balance.loc[balance['ID_Op'] == id]

,ID_Op,Nro_Inst,D_Due,Capital,Interest,IVA,Total,ID_Owner
ID,,,,,,,,
3319,205,1,2024-02-28,0.00,0.00,0.00,0.00,1
3320,205,2,2024-03-28,0.00,0.00,0.00,0.00,1
3321,205,3,2024-04-28,0.00,0.00,0.00,0.00,1
3322,205,4,2024-05-28,0.00,0.00,0.00,0.00,1
3323,205,5,2024-06-28,0.00,0.00,0.00,0.00,1
3324,205,6,2024-07-28,0.00,0.00,0.00,0.00,1
3325,205,7,2024-08-28,0.00,0.00,0.00,0.00,1
3326,205,8,2024-09-28,0.00,0.00,0.00,0.00,1
3327,205,9,2024-10-28,0.00,0.00,0.00,0.00,1
3328,205,10,2024-11-28,0.00,0.00,0.00,0.00,1
3329,205,11,2024-12-28,0.00,0.00,0.00,0.00,1
3330,205,12,2025-01-28,38066.65,6296.32,1322.23,45685.19,1