# Financial App

In [2]:
import os
import pandas as pd

# Get the current working directory
os.chdir("c:/Users/juanm_8qa8lav/Documents/Proyectos_Personales/FinancialApp")
# Verify the current working directory
print(f"Now in directory: {os.getcwd()}")

# Import your module
from app.modules.database.connection import engine
import app.modules.database.structur_databases as sdb
import app.modules.database.companies as companies
import app.modules.database.customers as customers
import app.modules.database.credit_manager as credit_manager
import app.modules.database.portfolio_manager as portfolio_manager
import app.modules.database.collection as colltions

from app.modules.database.credit_manager import credits_balance

from importlib import reload

reload(customers)

%run logs/run_log.py

Now in directory: c:\Users\juanm_8qa8lav\Documents\Proyectos_Personales\FinancialApp
SQL script executed successfully.
Nuevo plan de negocio creado, su id es 1 y fue asociado a la empresa NeoCrediT S.A.
Nuevo plan de negocio creado, su id es 2 y fue asociado a la empresa Onoyen S.R.L.
Nuevo plan de negocio creado, su id es 3 y fue asociado a la empresa Asociación Mutual Union Federal
Nuevo plan de negocio creado, su id es 4 y fue asociado a la empresa Asociación Mutual Union Federal
Nuevo plan de negocio creado, su id es 5 y fue asociado a la empresa Asociación Mutual Union Federal
Cartera de créditos Onoyen migrada, correctamente.
Comenzamos a migar la cartera de AMUF.
Migramos los créditos, y empezamos a migrar las cobranzas.
User with ID 4586 has been deleted.
User with ID 4587 has been deleted.
User with ID 4821 has been deleted.
User with ID 4856 has been deleted.
User with ID 4857 has been deleted.
User with ID 5377 has been deleted.
Cartera de créditos AMUF migrada.
Nuevo plan de negocio creado, su id es 6 y fue asociado a la empresa Asociación Mutual Union Federal

In [3]:
pp = pd.read_sql('portfolio_purchases', engine, index_col='ID')
customers = pd.read_sql('customers', engine, index_col='ID')
credits = pd.read_sql('credits', engine, index_col='ID')
collections = pd.read_sql('collection', engine, index_col='ID')
installments = pd.read_sql('installments', engine, index_col='ID')
companies = pd.read_sql('companies', engine, index_col='ID')
bp = pd.read_sql('business_plan', engine, index_col='ID')
companies = pd.read_sql('companies', engine, index_col='ID')

balance = credits_balance()
print(f'Capital: $ {balance['Capital'].sum():,.2f}')
print(f'Interés: $ {balance['Interest'].sum():,.2f}')
print(f'IVA: $ {balance['IVA'].sum():,.2f}')
print(f'Total: $ {balance['Total'].sum():,.2f}')

# balance[['Capital', 'Interest', 'IVA', 'Total']] = balance[['Capital', 'Interest', 'IVA', 'Total']].map('${:,.2f}'.format)
balance.loc[balance['Total'] > 0]

Capital: $ 34,891,606.64
Interés: $ 31,843,591.08
IVA: $ 6,687,154.04
Total: $ 73,422,351.89

,ID_Op,Nro_Inst,D_Due,Capital,Interest,IVA,Total,ID_Owner
ID,,,,,,,,
3330,205,12,2025-01-28,38066.65,6296.32,1322.23,45685.19,1
3342,206,12,2025-01-28,25377.77,4197.55,881.48,30456.80,1
3363,208,12,2025-01-28,63444.41,10493.86,2203.71,76141.99,1
3375,209,12,2025-01-28,30453.32,4835.55,1015.46,36304.33,1
3387,210,12,2025-01-28,25377.77,4197.55,881.48,30456.80,1
...,...,...,...,...,...,...,...,...
5504,387,5,2025-06-28,41947.00,33700.92,7077.19,82725.11,1
5505,387,6,2025-07-28,48049.42,28657.60,6018.10,82725.11,1
5506,387,7,2025-08-28,55039.63,22880.57,4804.92,82725.11,1
5507,387,8,2025-09-28,63046.76,16263.10,3415.25,82725.11,1
5508,387,9,2025-10-28,72218.77,8682.93,1823.42,82725.11,1