# Financial App

In [1]:
import os
import pandas as pd

# Get the current working directory
os.chdir("..")
# Verify the current working directory
print(f"Now in directory: {os.getcwd()}")

# Import your module
from app.modules.database.connection import engine
import app.modules.database.credit_manager as credit_manager
from importlib import reload

%run logs/run_log.py

Now in directory: c:\Users\juanm_8qa8lav\Documents\Proyectos_Personales\FinancialApp
Nuevo plan de negocio creado, su id es 1 y fue asociado a la empresa NeoCrediT S.A.
Nuevo plan de negocio creado, su id es 2 y fue asociado a la empresa Onoyen S.R.L.
Nuevo plan de negocio creado, su id es 3 y fue asociado a la empresa Asociación Mutual Union Federal
Nuevo plan de negocio creado, su id es 4 y fue asociado a la empresa Asociación Mutual Union Federal

In [2]:
reload(credit_manager)
from app.modules.database.credit_manager import credits_balance
balance = credits_balance()
print(f'Deuda Total: $ {balance['Total'].sum():,.2f}')

# balance[['Capital', 'Interest', 'IVA', 'Total']] = balance[['Capital', 'Interest', 'IVA', 'Total']].map('${:,.2f}'.format)
balance

Deuda Total: $ 5,452,862.28

,ID_Op,Nro_Inst,D_Due,Capital,Interest,IVA,Total,ID_Owner
ID,,,,,,,,
1,1,1,2025-01-28,112940.88,127702.93,26817.62,267461.43,1
2,1,2,2025-02-28,130392.56,113280.05,23788.81,267461.43,1
3,1,3,2025-03-28,150540.89,96628.54,20291.99,267461.43,1
4,1,4,2025-04-28,173802.55,77404.03,16254.85,267461.43,1
5,1,5,2025-05-28,200658.62,55208.93,11593.88,267461.43,1
6,1,6,2025-06-28,231664.50,29584.24,6212.69,267461.43,1
7,2,1,2025-01-28,16097.76,66568.55,13979.40,96645.71,1
8,2,2,2025-02-28,18691.05,64425.34,13529.32,96645.71,1
9,2,3,2025-03-28,21702.10,61936.87,13006.74,96645.71,1
10,2,4,2025-04-28,25198.22,59047.51,12399.98,96645.71,1
11,2,5,2025-05-28,29257.54,55692.70,11695.47,96645.71,1
12,2,6,2025-06-28,33970.81,51797.43,10877.46,96645.71,1
13,2,7,2025-07-28,39443.37,47274.66,9927.68,96645.71,1
14,2,8,2025-08-28,45797.54,42023.28,8824.89,96645.71,1
15,2,9,2025-09-28,53175.33,35925.93,7544.45,96645.71,1
16,2,10,2025-10-28,61741.66,28846.32,6057.73,96645.71,1
17,2,11,2025-11-28,71687.99,20626.21,4331.50,96645.71,1
18,2,12,2025-12-28,83236.63,11081.88,2327.20,96645.71,1
19,3,1,2024-12-28,7982.65,116834.60,24535.27,149352.51,1
20,3,2,2025-01-28,9393.28,115668.79,24290.45,149352.51,1
21,3,3,2025-02-28,11053.19,114296.96,24002.36,149352.51,1
22,3,4,2025-03-28,13006.43,112682.72,23663.37,149352.51,1
23,3,5,2025-04-28,15304.82,110783.22,23264.48,149352.51,1
24,3,6,2025-05-28,18009.37,108548.05,22795.09,149352.51,1
25,3,7,2025-06-28,21191.85,105917.90,22242.76,149352.51,1
26,3,8,2025-07-28,24936.71,102822.98,21592.83,149352.51,1
27,3,9,2025-08-28,29343.34,99181.14,20828.04,149352.51,1
28,3,10,2025-09-28,34528.67,94895.74,19928.11,149352.51,1
29,3,11,2025-10-28,40630.31,89853.06,18869.14,149352.51,1
30,3,12,2025-11-28,47810.18,83919.28,17623.05,149352.51,1
31,3,13,2025-12-28,56258.83,76936.93,16156.75,149352.51,1
32,3,14,2026-01-28,66200.46,68720.70,14431.35,149352.51,1
33,3,15,2026-02-28,77898.90,59052.57,12401.04,149352.51,1
34,3,16,2026-03-28,91664.59,47675.97,10011.95,149352.51,1
35,3,17,2026-04-28,107862.86,34288.97,7200.68,149352.51,1
36,3,18,2026-05-28,126923.56,18536.33,3892.63,149352.51,1

In [3]:
reload(credit_manager)
from app.modules.database.credit_manager import credits_balance, TypeDataCollection, charging

charging(TypeDataCollection.ID_Op, 1, 2*267461.43+2000, 3, pd.Timestamp("2024/03/15"), save=True)

,ID_Inst,D_Emission,Type_Collection,Capital,Interest,IVA,Total
ID,,,,,,,
0,1,2024-03-15,COMÚN,112940.88,127702.93,26817.62,267461.43
1,2,2024-03-15,COMÚN,130392.56,113280.05,23788.81,267461.43
2,3,2024-03-15,ANTICIPADA,0.00,1652.89,347.11,2000.00

In [4]:
balance = credits_balance()
print(f'Deuda Total: $ {balance['Total'].sum():,.2f}')

# balance[['Capital', 'Interest', 'IVA', 'Total']] = balance[['Capital', 'Interest', 'IVA', 'Total']].map('${:,.2f}'.format)
balance

Deuda Total: $ 4,915,939.42

,ID_Op,Nro_Inst,D_Due,Capital,Interest,IVA,Total,ID_Owner
ID,,,,,,,,
1,1,1,2025-01-28,0.00,0.00,0.00,0.00,1
2,1,2,2025-02-28,0.00,0.00,0.00,0.00,1
3,1,3,2025-03-28,150540.89,94975.65,19944.88,265461.43,1
4,1,4,2025-04-28,173802.55,77404.03,16254.85,267461.43,1
5,1,5,2025-05-28,200658.62,55208.93,11593.88,267461.43,1
6,1,6,2025-06-28,231664.50,29584.24,6212.69,267461.43,1
7,2,1,2025-01-28,16097.76,66568.55,13979.40,96645.71,1
8,2,2,2025-02-28,18691.05,64425.34,13529.32,96645.71,1
9,2,3,2025-03-28,21702.10,61936.87,13006.74,96645.71,1
10,2,4,2025-04-28,25198.22,59047.51,12399.98,96645.71,1
11,2,5,2025-05-28,29257.54,55692.70,11695.47,96645.71,1
12,2,6,2025-06-28,33970.81,51797.43,10877.46,96645.71,1
13,2,7,2025-07-28,39443.37,47274.66,9927.68,96645.71,1
14,2,8,2025-08-28,45797.54,42023.28,8824.89,96645.71,1
15,2,9,2025-09-28,53175.33,35925.93,7544.45,96645.71,1
16,2,10,2025-10-28,61741.66,28846.32,6057.73,96645.71,1
17,2,11,2025-11-28,71687.99,20626.21,4331.50,96645.71,1
18,2,12,2025-12-28,83236.63,11081.88,2327.20,96645.71,1
19,3,1,2024-12-28,7982.65,116834.60,24535.27,149352.51,1
20,3,2,2025-01-28,9393.28,115668.79,24290.45,149352.51,1
21,3,3,2025-02-28,11053.19,114296.96,24002.36,149352.51,1
22,3,4,2025-03-28,13006.43,112682.72,23663.37,149352.51,1
23,3,5,2025-04-28,15304.82,110783.22,23264.48,149352.51,1
24,3,6,2025-05-28,18009.37,108548.05,22795.09,149352.51,1
25,3,7,2025-06-28,21191.85,105917.90,22242.76,149352.51,1
26,3,8,2025-07-28,24936.71,102822.98,21592.83,149352.51,1
27,3,9,2025-08-28,29343.34,99181.14,20828.04,149352.51,1
28,3,10,2025-09-28,34528.67,94895.74,19928.11,149352.51,1
29,3,11,2025-10-28,40630.31,89853.06,18869.14,149352.51,1
30,3,12,2025-11-28,47810.18,83919.28,17623.05,149352.51,1
31,3,13,2025-12-28,56258.83,76936.93,16156.75,149352.51,1
32,3,14,2026-01-28,66200.46,68720.70,14431.35,149352.51,1
33,3,15,2026-02-28,77898.90,59052.57,12401.04,149352.51,1
34,3,16,2026-03-28,91664.59,47675.97,10011.95,149352.51,1
35,3,17,2026-04-28,107862.86,34288.97,7200.68,149352.51,1
36,3,18,2026-05-28,126923.56,18536.33,3892.63,149352.51,1

In [5]:
from app.modules.database.credit_manager import credits_balance, TypeDataCollection, _get_credits_by_identifier, _prepare_balance

def reverse(
        ident_type: TypeDataCollection,
        identifier: int,
        amount: float,
        id_supplier: int,
        date: pd.Timestamp = pd.Timestamp.now(),
        save: bool = False):
    
    # Validate the identifier type and value
    TypeDataCollection.validate(identifier, ident_type)

    # Retrieve credits based on identifier type
    id_credits, credits = _get_credits_by_identifier(ident_type, identifier, id_supplier)

    # Retrieve and prepare the balance for the credits
    balance = _prepare_balance(id_credits)

    installments = pd.read_sql('installments', engine, index_col='ID')
    installments = installments.loc[(installments.index.isin(balance.index))].sort_values(by=['D_Due', 'ID_Op', 'Nro_Inst'], ascending=False)
    
    collection = pd.read_sql('collection', engine, index_col='ID').iloc[0:0]
    for n, i in enumerate(installments.index):
        if balance.loc[i, 'Total'] == installments.loc[i, 'Total']:
            pass
        elif (balance.loc[i, 'Total'] > 0.0) & (balance.loc[i, 'Total'] < installments.loc[i, 'Total']) & (amount >= installments.loc[i, 'Total'] - balance.loc[i, 'Total'].sum()):
            collection.loc[n] = {
                'ID_Inst': i,
                'D_Emission': date,
                'Type_Collection': 'REVERSA',
                'Capital': -(installments.loc[i, 'Capital'] - balance.loc[i, 'Capital']),
                'Interest': -(installments.loc[i, 'Interest'] - balance.loc[i, 'Interest']),
                'IVA': -(installments.loc[i, 'IVA'] - balance.loc[i, 'IVA']),
                'Total': -(installments.loc[i, 'Total'] - balance.loc[i, 'Total'])}
            amount -= (installments.loc[i, 'Total'] - balance.loc[i, 'Total'])

        elif (balance.loc[i, 'Total'] == 0.0) & (amount - installments.loc[i, 'Total'] >= -0.1):
            collection.loc[n] = {
                'ID_Inst': i,
                'D_Emission': date,
                'Type_Collection': 'REVERSA',
                'Capital': -installments.loc[i, 'Capital'],
                'Interest': -installments.loc[i, 'Interest'],
                'IVA': -installments.loc[i, 'IVA'],
                'Total': -installments.loc[i, 'Total']}
            amount -= installments.loc[i, 'Total']

        elif (amount < installments.loc[i, 'Total'] - balance.loc[i, 'Total']):
            capital = installments.loc[i, 'Capital'] - balance.loc[i, 'Capital']
            capital = capital if amount >= capital else amount
            amount -= capital
            interest = (installments.loc[i, 'Interest'] - balance.loc[i, 'Interest']) / 1.21
            iva      = interest * 0.21
            interest = interest if amount >= interest else amount/1.21
            amount -= interest
            iva      = iva if amount >= iva else interest * 0.21

            collection.loc[n] = {
                'ID_Inst': i,
                'D_Emission': date,
                'Type_Collection': 'REVERSA',
                'Capital': -capital,
                'Interest': -interest,
                'IVA': -iva,
                'Total': -(capital + interest + iva)}
            amount -= capital + interest + iva
        elif abs(amount) < 0.1:
            pass
        else:
            raise ValueError(f'amount: $ {amount:,.2f}\n{balance.loc[i]}')

    if save:
        collection.to_sql('collection', engine, index=False, if_exists='append')

    return collection

reverse(TypeDataCollection.ID_Op, 1, 267461.43 + 4000, 3, pd.Timestamp("2024/03/10"), save=True)

4: 2

,ID_Inst,D_Emission,Type_Collection,Capital,Interest,IVA,Total
ID,,,,,,,
3,3,2024-03-10,REVERSA,-0.00,-1652.89,-347.11,-2000.00
4,2,2024-03-10,REVERSA,-130392.56,-113280.05,-23788.81,-267461.43
5,1,2024-03-10,REVERSA,-2000.00,-0.00,-0.00,-2000.00

In [6]:
balance = credits_balance()
print(f'Deuda Total: $ {balance['Total'].sum():,.2f}')

# balance[['Capital', 'Interest', 'IVA', 'Total']] = balance[['Capital', 'Interest', 'IVA', 'Total']].map('${:,.2f}'.format)
balance

Deuda Total: $ 5,187,400.85

,ID_Op,Nro_Inst,D_Due,Capital,Interest,IVA,Total,ID_Owner
ID,,,,,,,,
1,1,1,2025-01-28,2000.00,0.00,0.00,2000.00,1
2,1,2,2025-02-28,130392.56,113280.05,23788.81,267461.43,1
3,1,3,2025-03-28,150540.89,96628.54,20291.99,267461.43,1
4,1,4,2025-04-28,173802.55,77404.03,16254.85,267461.43,1
5,1,5,2025-05-28,200658.62,55208.93,11593.88,267461.43,1
6,1,6,2025-06-28,231664.50,29584.24,6212.69,267461.43,1
7,2,1,2025-01-28,16097.76,66568.55,13979.40,96645.71,1
8,2,2,2025-02-28,18691.05,64425.34,13529.32,96645.71,1
9,2,3,2025-03-28,21702.10,61936.87,13006.74,96645.71,1
10,2,4,2025-04-28,25198.22,59047.51,12399.98,96645.71,1
11,2,5,2025-05-28,29257.54,55692.70,11695.47,96645.71,1
12,2,6,2025-06-28,33970.81,51797.43,10877.46,96645.71,1
13,2,7,2025-07-28,39443.37,47274.66,9927.68,96645.71,1
14,2,8,2025-08-28,45797.54,42023.28,8824.89,96645.71,1
15,2,9,2025-09-28,53175.33,35925.93,7544.45,96645.71,1
16,2,10,2025-10-28,61741.66,28846.32,6057.73,96645.71,1
17,2,11,2025-11-28,71687.99,20626.21,4331.50,96645.71,1
18,2,12,2025-12-28,83236.63,11081.88,2327.20,96645.71,1
19,3,1,2024-12-28,7982.65,116834.60,24535.27,149352.51,1
20,3,2,2025-01-28,9393.28,115668.79,24290.45,149352.51,1
21,3,3,2025-02-28,11053.19,114296.96,24002.36,149352.51,1
22,3,4,2025-03-28,13006.43,112682.72,23663.37,149352.51,1
23,3,5,2025-04-28,15304.82,110783.22,23264.48,149352.51,1
24,3,6,2025-05-28,18009.37,108548.05,22795.09,149352.51,1
25,3,7,2025-06-28,21191.85,105917.90,22242.76,149352.51,1
26,3,8,2025-07-28,24936.71,102822.98,21592.83,149352.51,1
27,3,9,2025-08-28,29343.34,99181.14,20828.04,149352.51,1
28,3,10,2025-09-28,34528.67,94895.74,19928.11,149352.51,1
29,3,11,2025-10-28,40630.31,89853.06,18869.14,149352.51,1
30,3,12,2025-11-28,47810.18,83919.28,17623.05,149352.51,1
31,3,13,2025-12-28,56258.83,76936.93,16156.75,149352.51,1
32,3,14,2026-01-28,66200.46,68720.70,14431.35,149352.51,1
33,3,15,2026-02-28,77898.90,59052.57,12401.04,149352.51,1
34,3,16,2026-03-28,91664.59,47675.97,10011.95,149352.51,1
35,3,17,2026-04-28,107862.86,34288.97,7200.68,149352.51,1
36,3,18,2026-05-28,126923.56,18536.33,3892.63,149352.51,1